<div class="jumbotron">
  <h1>Тестовые задания</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Задание по CSS</h2>
        <p>
            Форма должна корректно отображаться во всех современных браузерах и IE, начиная с версии 7,
            правильно смотреться при включённом RTL
        </p>
        <p>
            (вариантов может быть несколько, не полностью кроссбраузерные варианты тоже можно присылать, в том числе
            работающие только под IE11)
        </p>
        <p>Условия:</p>
        <ol>
            <li>
                <p>Форма занимает все свободное место на странице (ширина 100%).</p>
            </li>
            <li>
                <p>Отступ между полем ввода и кнопкой фиксирован и должен быть равен 15px.</p>
            </li>
            <li>
                <p>Тег table использовать нельзя )).</p>
            </li>
            <li>
                <p>В верстке используется стандартная кнопка button. Ширина кнопки зависит от языка локализации и заранее не известна.</p>
            </li>
        </ol>
        <a class="btn btn-md btn-success pull-right" ng-href="form.html">Открыть задание!</a>
    </div>
    <div class="col-lg-6">
        <h2>Задание по JS</h2>
        <p>Создайте одностраничное angular-приложение концепт с мок сервером (возможно используя service angular) или на
            nodejs express. Приложение имеет 2 страницы: страница приветствия (оформленная на ваше усмотрение) и
            страница коллекции пользователей, имеющая 3 разных вида (списка, панели плиток, панели плиток а-ля trello).
            Приложение загружает данные в формате json удобного для вас вида, выводит данные в виде: списка, панели
            плиток, панели плиток а-ля trello, согласно выбранному типу отображения,
            переключатель типа отображения сделать простым селектором чуть выше.
            Настоятельно рекомендуется использовать роутер и require js
            карточек должно быть 300, групп должно быть 4, есть карточки не имеющие группы.
            Всё остальное на усмотрение соискателя, нам интересно ваше видение (это концепт, перфекционизм в вёрстке не
            нужен)
        </p>
        <a class="btn btn-md btn-success pull-right" ng-href="#/application">Открыть задание!</a>
    </div>
</div>
